/*! == COMPONENTS == */

.button {
    position: relative;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    padding: 0.6rem 1.8rem;
    color: $brand-primary;
    border: 2px solid $brand-primary;
    text-transform: uppercase;
    text-align: left;
    font-family: $body-font;
    font-weight: 600;
    vertical-align: middle;
    -webkit-appearance: none;
	transition: color 0.5s ease-in-out;
    border-radius: 0;
    letter-spacing: 2px;
    text-rendering: geometricPrecision; /*fix rendering issues on different buttons*/
    cursor: pointer;
	
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: calc(100% + 2px);
		background: $brand-primary;
		bottom: -1px;
		left: 0;
		transform: scaleY(0);
		transition: transform .5s ease-in-out;
		transform-origin: bottom;
		z-index: -1;
	}

    &:hover {
        color: white;
        
        &:before {
			transform: scaleY(1);
        }
    }
    
    i {
        position: absolute;
        right: 0.25em;
        top: 0.75em;
        font-size: 1.25em;
    }
	
	&__light {
		color: white;
		border-color: white;
		z-index: 1;
		
		&:hover {
			color: darken($brand-primary, 10%);
		}
		
		&:before {
			background: white;
		}
	}
	
	&__white {
		color: $brand-primary;
		border: none;
		background: none;
		z-index: 3;
	}
}

.button__wrapper {
	display: inline-block;
	position: relative;
	
	.button {
		background: none;
		z-index: 3;
	}
	
	&.light {
		
		&:after {
			height: 100%;
			bottom: 0;
			background: $brand-primary;
		}
	}
	
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		left: 0;
		bottom: 0;
		position: absolute;
		background: white;
		z-index: 1;
	}
	
	&:after {
		content: "";
		width: 100%;
		height: calc(100% + 2px);
		left: 0;
		bottom: -2px;
		position: absolute;
		z-index: 2;
		transform: scaleY(0);
		transition: transform .5s ease-in-out;
		transform-origin: bottom;
		background: darken($brand-primary, 10%);
	}
	
	&:hover {
		
		.button {
			color: white;
		}
		
		&:after {
			transform: scaleY(1);
		}
	}
}

a.next-section {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: $body-font;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 3em;
    z-index: 10;
    cursor: pointer;
    
    svg {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		height: 50px;
    }
}

.silverless {
    text-align: center;
    margin-top: -5px;
 
    #logo {
        width:80px;
        height:30px;
    }

    #silverless {
        opacity:0.6;
        transition:opacity 0.5s ease-in-out;
    
        path {
            fill: white;
        }
    }

    #created {
        opacity:0;
        transform: translateY(50px);
        transition: 1s transform ease, 2s opacity ease;

        path {
            fill: white;
        }
    }

    &:hover {
        cursor:pointer;

        #silverless {
            opacity:0.8;
        }

        #created {
              opacity:0.8;
              transform: translateY(0);
        }
    }
}

#contact-form {
	
	p {
		margin: 0;
		font-size: 1em;
	}
	
	.wpcf7-text, .wpcf7-textarea {
		border: none;
		background: darken($brand-light-grey, 5%);
		font-family: $body-font;
		width: 100%;
		font-size: 1em;
		margin-top: 1em;
		padding: 0.75em;
		outline: none;
		color: $brand-primary;
		
		&::placeholder {
			text-transform: uppercase;
			font-weight: 400;
			font-size: 0.9em;
			color: $brand-mid-grey;
		}
	}
	
	.wpcf7-text[name=your-name] {
		margin-top: 0;
	}
	
	.wpcf7-submit {
		margin-top: 1em;
		font-size: 0.9em;
	}
	
	br {
		display: none;
	}

	.wpcf7-not-valid-tip {
		color: lighten($brand-primary, 10%) !important;
		font-size: 0.85em;
	}
	
	.wpcf7-response-output {
		font-size: 0.85em;
		margin: 1em 0 0 0;
		border: none;
		background: none;
		color: black;
		background: hsla(0, 0%, 0%, 0.2);
	}
}



.ajax-loader {
	position: absolute;
}

#main-contact {
	
	.form-fields {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10em;
		
		label {
			
			.contact-label {
				color: $brand-tertiary;
				font-weight: 400;
				line-height: 1.5;
				font-size: 0.9em;
				opacity: 0;
				transition: opacity 0.5s ease-in-out;
				
				&.visible {
					opacity: 1;
				}
			}
		}
		
		input[type=text], input[type=email], textarea, select {
			font-size: 1rem;
			font-weight: 700;
			font-family: $body-font;
			background: none;
			padding: 0.75em 0;
			margin-top: 0.25em;
			border: none;
			border-bottom: 1px solid $brand-secondary;
			color: $brand-secondary;
			letter-spacing: 0.5px;
			width: 100%;
			outline: none;
			
			&::placeholder {
				font-size: 1rem;
				font-weight: 700;
				color: $brand-secondary;
			}
		}
		
		.custom-select {
			width: 100%;
			display: inline-block;
			position: relative;
			
			span {
				display: block;
			}
			
			input {
				cursor: pointer;
			}
				
			&:before {
				color: $brand-secondary;
				font-family: "Font Awesome 5 Free";
				font-weight: 600;
				content: "\f078";
				position: absolute;
				z-index: 1;
				right: 1em;
				font-size: 1.2em;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
			}
			
			.options {
				position: absolute;
				color: $brand-secondary;
				font-weight: 600;
				display: none;
				width: 100%;
				
				&.visible {
					display: block;
				}
				
				span {
					position: relative;
					padding: 0.6em 1em;
					cursor: pointer;
					transition: color 0.3s ease-in-out;
					
					&:before {
						content: '';
						position: absolute;
						width: 100%;
						height: calc(100% + 2px);
						background: $brand-primary;
						bottom: -1px;
						left: 0;
						transform: scaleY(0);
						transition: transform .3s ease-in-out;
						transform-origin: bottom;
						z-index: -1;
					}
					
					&:hover {
						color: white;
						
						&:before {
							transform: scaleY(1);
						}
					}
				}
			}
		}
		
		textarea {
			resize: none;
			overflow-y: hidden;
		}
	}
	
	p {
		font-size: inherit;
		margin-bottom: 1.5em;
	}
	
	.button__wrapper {
		margin-top: 2em;
	}
	.button {
		padding: 0.6rem 3rem;
	}
	
	span.wpcf7-list-item {
		margin: 0;
		
		span {
			display: block;
			text-transform: uppercase;
			font-size: 0.8em;
			font-weight: 800;
			cursor: pointer;
		}
		
		input[type=checkbox] {
			margin: 0;
			width: 16px;
			height: 16px;
			
			&:before {
				font-family: "Font Awesome 5 Free";
				font-weight: 600;
				content: "";
				position: absolute;
				width: 16px;
				height: 16px;
				border: 1px solid $brand-secondary;
				background: white;
				box-shadow: 0 0 0 1px $brand-tertiary inset;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			
			&:checked::before {
				content: "\f00c";
			}
		}
	}
}