/*! == MEDIA QUERIES == */

/*===========EXTRA LARGE (1600px)==========*/

@media only screen and (max-width: 1600px) {
	
.container.spacing {
	padding-left: 2em;
	padding-right: 2em;
}

}/*---end extra large mq---*/

/*===========LARGE (1200px)==========*/

@media only screen and (max-width: 1200px) {

/*---GLOBALS---*/ 

/*---HEADER---*/ 

/*---CONTENT---*/

#main-contact .form-fields {
	grid-column-gap: 4em;
}

/*---FOOTER---*/

.cols-1-8-13 > .col:nth-of-type(3n) {
	grid-column: 8/13;
}

}/*---end large mq---*/


/*===========MEDIUM (992px)==========*/

@media only screen and (max-width: 992px) {
  
/*---GLOBALS---*/ 

body {
    font-size: 0.9em;
}
 
/*---HEADER---*/

/*---CONTENT---*/

.cols-3-7 > .col:nth-of-type(2n) {
	grid-column: 5/12;
}

/*---FOOTER---*/

}/*---end medium mq---*/


/*===========SMALL (768px)==========*/

@media only screen and (max-width: 768px) {

/*---GLOBALS---*/

body {
  font-size: 0.8em;
}

.container {
	grid-gap: 1em;
}

.cols-3-11, .cols-3-6, .cols-3-7, .cols-3-8, .cols-3-9, .cols-8-11, .cols-3-8-12, .cols-3-7-13, .cols-3-12, .cols-1-8-13, .cols-3-9-11, .cols-12  {
	& > .col:nth-of-type(n) {
		grid-column: 2/12;
	}
}

/*---HEADER---*/

#nav {
	position: fixed;
	height: 77px;
	top: -1px;
	left: 0;
	border-bottom: 2px solid $brand-tertiary;
	padding: 1.5em 0;
	
	.cols-4-8 {
		& > .col:nth-of-type(2n - 1) {
			-ms-grid-column-span: 8;
			grid-column: span 8;
		}
		& > .col:nth-of-type(2n) {
			-ms-grid-column-span: 4;
			grid-column: span 4;
		}
	}
	
	.menu {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	
	.menu-trigger {
		display: flex;
		align-items: center;
		font-size: 2em;
		color: $brand-tertiary;
		margin: -1em;
		padding: 1em;
		
		img {
			width: 1em;
		}
	}
	
	.mainMenu {
		position: fixed;
		left: 0;
		top: 75px;
		display: none;
		
		#menu-main-menu {
			display: block;
			background: $brand-primary;
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 2em;
			padding-bottom: 2em;
			padding-left: 5em;
			border-bottom: 2px solid $brand-tertiary;
			
			li {
				display: block;
				text-align: left;
				font-size: 1em;
				
				a {
					font-size: 1.5em;
					padding: 1em;
					color: white;
					
					&:hover {
						color: $brand-secondary;
					}
				}
			}
			
			.sub-menu {
				margin-left: 4em;
			}
		}
	}
}

.hero__content .copy {
	width: 100%;
}

a.next-section {
	display: none;
}

.hero-posts > .col:nth-of-type(n) {
	grid-column: 1/13;
}

/*---CONTENT---*/
  
.custom {
	
	&-box-icon {
		padding-bottom: 0;
		
		& > .col:nth-of-type(n) {
			grid-column: span 12;
		}
		
		.col {
			margin-bottom: 2em;
		}
		
		.icon {
			margin-left: auto;
			margin-right: auto;
		}
		
		div {
			text-align: center;
		}
		
		.button {
			margin-top: 1em;
			margin-bottom: 0;
		}
	}
	
	&-overview-panel {
		
		.col:first-of-type {
			order: 1;
		}
		
		.container:first-of-type {
			margin-bottom: 4em;
		}
		
		.info {
			padding: 0;
			margin-bottom: 2em;
		}
		
		.image.fullheight {
			height: 50vh;
		}
		
		&-link .container:first-of-type {
			margin-bottom: 0;
			
			.col:first-of-type {
				order: 2;
			}
			.col:nth-of-type(2) {
				order: 1;
			}
			
			.image {
				height: 50vh;
			}
		}
	}
	
	&-main-heading {
		
		.cols-6, .cols-9 {
			& > .col:nth-of-type(n) {
				grid-column: span 12;
			}
		}
	}
	
	&-text-section {
		
		.cols-6 {
			& > .col:nth-of-type(n) {
				grid-column: span 12;
			}
		}
	}
}

.cta {
	
	&-newsletter {
		
		.form {
			justify-content: flex-start;
			margin-top: 2em;
		}
	}
	
	&-accreditations {
		.cols-6 {
			& > .col:nth-of-type(n) {
				grid-column: span 12;
			}
		}
	}
}

#main-contact .form-fields {
	grid-template-columns: 100%;
	
	.custom-select {
		
		&:before {
			top: 2em;
		}
		
		.options {
			position: relative;
		}
	}
}

.wpcf7-list-item label {
	display: flex;
	
	.wpcf7-list-item-label {
		display: inline-block;
		margin-left: 1em;
	}
}

.marker {
	r: 6;
}

.single-insight {
	
	.sidebar {
		order: 2;
		padding-top: 4em;
	}
}

.container.spacing {
	margin-left: 0;
	margin-right: 0;
}

.slider-insights .control-wrap {
	margin-top: 0;
}

.custom-box-icon .col {
    margin-bottom: 5em;
}

.cta-newsletter .input-newsletter,
#form-newsletter p {
    width: 100%;
}

/*---FOOTER---*/

footer .socket > .container {
	row-gap: 3em;
}

}/*---end small mq---*/


/*===========EXTRA SMALL (576px)==========*/

@media only screen and (max-width: 576px) {
  
/*---GLOBALS---*/

/*---HEADER---*/

/*---CONTENT---*/

.marker {
	r: 9;
}

.slider-insights .control-wrap {
	width: 90vw;
	
	.next, .prev {
		width: 40vw;
		
		&:before {
			width: 20vw;
		}
	}
}

.slider .slider-wrapper .slider-item .item .content {
	padding: 1em;
	
	.copy {
		line-height: 1.5;
		font-size: 0.9em;
	}
}

.slider .slider-wrapper .slider-item .next:before, 
.slider .slider-wrapper .slider-item .prev:before {
    height: 0;
}

/*---FOOTER---*/

}/*---end extra small mq---*/
