/*! == THEME STYLES == */

/*===========GLOBAL==========*/

* {
    -webkit-tap-highlight-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

/*===========HEADER==========*/

.home-text-effect {
	opacity: 0;
	
	&.active {
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
		color: white;
		
		span {
			animation-name: revealText;
			animation-fill-mode: both;
			animation-duration: 0.4s;
			animation-timing-function: cubic-bezier(.25,.1,.25,1);
		}
	}
}

.wrapper-button {
	width: 100%;
}

/*===========BODY==========*/

.custom {
	
	&-heading {
		color: $brand-tertiary;
		line-height: 1.5;
		
		strong {
			font-weight: inherit;
			color: $brand-secondary;
		}
		
		em {
			font-style: inherit;
			color: $brand-primary;
		}
		
		p {
			font-size: inherit;
			margin: 0;
			line-height: inherit;
		}
	}
	
	&-box-icon {
		
		.col {
			display: flex;
			flex-direction: column;
		}
		
		div.icon {
			width: 50px;
			height: 50px;
			margin-bottom: 0.5em;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			
			svg, img {
				width: 50px;
			}
		}
		
		h3 {
			margin: 0 0 0.5em 0;
		}
		
		.copy {
			color: $brand-tertiary;
			font-weight: 400;
			line-height: 1.5;
			flex-grow: 1;
		}
	}
	
	&-overview-panel {
		
		.heading {
			margin-top: 0;
		}
		
		.subheading {
			font-weight: bold;
			margin-bottom: 1.5em;
			line-height: 1.8;
		}
		
		.copy {
			color: $brand-tertiary;
			font-weight: 400;
			line-height: 1.5;
		}
		
		.image {
			@include backgroundCover;
			height: 50vh;
			width: 100%;
			
			&.fullheight {
				height: 100%;
			}
		}
		
		.info {
			display: flex;
			align-items: center;
		}
		
		&-link {
			
			.image {
				height: 100%;
			}
		}
		
		.contact-info {
			line-height: 1.8;
			
			.heading {
				margin-bottom: 0.5em;
			}
			
			.info {
				font-weight: bold;
				margin-bottom: 1.5em;
				line-height: 1.8;
				
				&.link {
					color: $brand-primary;
					transition: color 0.5s ease-in-out;
					
					&:hover {
						color: darken($brand-primary, 10%);
					}
				}
			}
		}
	}
	
	&-text-section {
		
		.copy {
			color: $brand-secondary;
			font-weight: 600;
			line-height: 1.5;
		}
	}
	
	&-small-section {
		font-weight: bold;
		margin-bottom: 1.5em;
		line-height: 1.8;
	}
}

.cta {
	
	&-newsletter {
		background: $brand-primary;
		color: white;
		
		.title {
			text-transform: uppercase;
			font-family: $body-font;
			font-size: 1em;
			font-weight: 800;
		}
		
		.input-newsletter {
			background: none;
			color: white;
			font-size: 0.9em;
			border: none;
			border-bottom: 1px solid white;
			padding: 0.5em;
			margin-right: 0.5em;
			
			&::placeholder {
		        color: white;
		    }
		}
		
		.form {
			display: flex;
			align-items: flex-end;
		}
		
		#form-newsletter {
			p {
				display: inline-block;
				margin-bottom: 0;
			}
		}
	}
	
	&-get-in-touch {
		height: 25em;
		@include backgroundCover;
		
		& > .container {
			height: 100%;
			
			& .col {
				display: flex;
				align-items: center;
			}
		}
	}
	
	&-contact {
		height: 30em;
		@include backgroundCover;
	}
	
	&-accreditations {
		
		.copy {
			font-weight: bold;
			line-height: 1.8;
		}
		
		.gallery-small {
			
			img {
				height: 6em;
				margin-right: 1em;
			}
		}
	}
}

.heading-icon-box {
	font-weight: bold;
    line-height: 1.8;
    font-size: 1em;
}

/*===========FOOTER==========*/

footer {
	
	.info {
		font-size: 0.85em;
		color: white;
		line-height: 1.8;
		
		.highlight {
			font-weight: bold;
			margin-top: 1em;
		}
	}
	
	.menus {
		font-size: 0.85em;
		color: white;
		
		h3 {
			font-weight: bold;
			font-size: 1em;
			margin: 0 0 1em 0;
		}
		
		ul {
			margin: 0;
			padding: 0;
			
			li {
				list-style: none;
				
				a {
					color: white;
					display: block;
					line-height: 2;
				}
			}
		}
	}
}

/*===========POSTS==========*/
	
.hero-posts {
	height: 65vh;
	padding-top: 88px;
	
	& > .col {
		@include backgroundCover;
	}
}

.post-content {
	color: $brand-tertiary;
	font-weight: 400;
	line-height: 1.5;
    
    p {
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
	}
	
	strong {
		color: $brand-secondary;
	}
}

.post-date {
	color: $brand-primary;
	font-size: 0.9em;
	font-weight: 800;
}

.sidebar {
	padding-top: 15vh;

	.title {
		font-size: 1.7em;
	}

}

a.category {
	color: $brand-tertiary;
	font-size: 1rem;
	font-weight: 100;
	line-height: 1.5;
	cursor: pointer;
	display: block;
	transition: color 0.3s ease-in-out;
	
	&__inline {
		display: inline-block;
		position: relative;
		
		&:not(:last-of-type) {
			padding-right: 0.7rem;
			margin-right: 0.3rem;
			
			&:before {
				content: "";
				position: absolute;
				right: 1px;
				top: 50%;
				height: 70%;
				width: 1px;
				transform: translateY(-50%);
				background: $brand-tertiary;
			}
		}
	}
	
	span {
		font-weight: 400;
	}
	
	&:hover {
		color: $brand-primary;
	}
	
	&.active {
		color: $brand-primary;
		
		span {
			font-weight: bold;
		}
	}
}

#searchform {
	
	.wrapper-form {
		display: inline-block;
		position: relative;
	}
	
	.search-value {
		font-size: 1em;
		width: 220px;
		border: none;
		border-bottom: 1px solid $brand-secondary;
		color: $brand-secondary;
		padding-bottom: 5px;
		padding-right: 25px;
		
		&::placeholder {
			font-size: 1em;
			color: $brand-tertiary;
		}
	}
	
	#searchsubmit {
		display: none;
	}
	
	label {
		position: absolute;
		bottom: 2px;
		right: 0;
	}
	
	svg {
		height: 20px;
		width: 20px;
		cursor: pointer;
		
		#search-icon {
			fill: $brand-primary;
		}
	}
}

#filter-insights {
	
	.title {
		font-size: 1.7em;
		margin-top: 0;
	}
}

.small-description {
	font-weight: bold;
	margin-bottom: 1.5em;
	line-height: 1.8;
}

.reset-category {
	display: inline-block;
	margin-left: 1em;
	color: $brand-primary;
	cursor: pointer;
}