/*! == VARIABLES == */

$brand-primary: hsl(355, 70%, 47%);
$brand-secondary: hsl(60, 2%, 12%);
$brand-tertiary: hsl(216, 2%, 51%);
$brand-light-grey: hsl(0, 0%, 89%);
$brand-mid-grey: hsl(0, 0%, 46%);
$brand-dark-grey: hsl(0, 0%, 15%);
$brand-blue: hsl(241, 73%, 45%);

$brand-font: 'Unna', serif;
$body-font: 'Open Sans', serif;

$fastEffect: all .5s ease;
$slowEffect: all 1s ease;

$container-width: 1400px;
$col-count: 12;
$grid-gap: 4em;

$breakpoints: (
	xl: 1200px,
	lg: 992px,
	md: 768px,
	sm: 576px,
	xs: 350px
);
